.content {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1500px;
}
.select {
  margin-top: 50px;
}
.title {
  font-size: 30px;
  text-align: center;
}
.icons {
  align-items: center;
  display: flex;
  justify-content: end;
}
.icon {
  &:hover {
    color: aquamarine;
    cursor: pointer;
  }
}
.people {
  margin-right: 20px;
}
.message {
  color: red;
  text-align: center;
}
.image {
  margin-top: 10px;
}
.body {
  margin-top: 20px;
  padding: 0 20px;
}
.entrant {
  margin-top: 20px;
  &_list {
    border-bottom: solid 1px;
    padding: 5px;
    &_id {
      color: lightblue;
      margin-right: 5px;
      &:hover {
        color: aquamarine;
        cursor: pointer;
      }
    }
  }
}
.delete {
  margin: 50px 0;
  text-align: center;
}


@media screen and (min-width:1500px) {
  .select {
    padding: 0 250px;
  }
}

@media screen and (min-width:768px) {
  .select {
    padding: 0 100px;
  }
}
